{% extends 'base.html' %} 
{% load widget_tweaks %}
{% load crispy_forms_tags %} {% load static %} 
{% block title %}
Login |
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
<body>
  <form method="POST" class="form-signin" novalidate>
    {% csrf_token %}
    {% render_field form.username class="form-control" placeholder="Username" %}
    {% render_field form.password class="form-control" placeholder="Password" %}
    <div class="text-center">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</body>
{% endblock %}
